.footer {
    opacity: 0;
    text-align: center;
    background-image: url("../img/pattern.png");
    background-color: $yellow;
    background-repeat: repeat-x;
    padding: 60px 0px 40px;
    color: $white;
}