.pass-wrapper {
    margin-top: 55px;
    padding: 12px 30px;
    background: $white;
    padding-bottom: 85px;
    margin-bottom: 55px;

    .row {
        margin: 0px 0;
    }

    .form-label {
        margin-bottom: 5px;
    }

    .btn {
        padding: 12px 40px;
        width: auto;
        margin-top: 5px;
        max-width: none;
    }

    .figure-wrapper {
        text-align: center;

        img {
            max-width: 100%;

            @media (min-width: $screen-sm-min) {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    *[class^='col-'] {
        @media (max-width: $screen-xs-max) {
            width: 100%;
            float: none;
        }
    }

    .form-text {
        color: #7a7a7a;

        .enter-message, .success-message {
            display: none;

            &.visible {
                display: block;
            }
        }

        .success-message {
            color: green;
        }
    }
}