.error-box {
    border: 1px solid $red;
    padding: 35px;
    font-weight: bold;
    background: #fef7f7;
    display: none;

    &.visible {
        display: block;
    }

    @media (max-width: $screen-sm-max) {
        margin: 10px 0;
        padding: 20px;

        > div {
            float: none !important;
        }
    }

    .login-links {
        a:first-child {
            margin-#{$right}: 35px;
        }
    }
}

@for $i from 0 through 4 {
    .wizard-pages[data-regTypeIndex="#{$i}"] {
        .tab-wrappers[data-formIndex] {
            display: none;
        }

        .tab-wrappers[data-formIndex='#{$i}'] {
            display: block;
        }
    }
}